/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
# PKCS#11 headers, not sure about license, so not included in the repo
c_src/pkcs11.h
c_src/pkcs11t.h
c_src/pkcs11f.h
priv/
.DS_Store
token/
softhsm2.conf
softhsm-conf.path
test_apps/*/_build
test_apps/*/deps